---
---

@import "{{ site.theme }}";
body {
    background-color: #d1c4e9;
    background-image: linear-gradient(120deg, #d1c4e9, #fff7ff);
    padding: 50px;
    font: 14px/1.5 "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #727272;
    font-weight: 400;
}
