---
---

@import "{{ site.theme }}";
body {
    background-color: #b39ddb;
    background-image: linear-gradient(120deg, #b39ddb, #fff7ff);
    padding: 50px;
    font: 14px/1.5 "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #727272;
    font-weight: 400;
}
